.card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .header{
    display: inline;
  }

  .title {
    font-size: 26px;
    font-weight: 600;
    color: #0d1622;
  }
  
  .location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #374151;
  }
  
  .subtitle{
    font-size: 14px;
  }

  .coords {
    font-weight: 500;
    font-size: 16px;
  }
  
  .status {
    margin-left: auto;
    font-size: 13px;
    color: #15803D;
    background-color: #DCFCE7;
    padding: 5px 10px;
    border-radius: 100px;
  }
  
  .timestamp {
    font-size: 12px;
    color: #6b7280;
  }
  