.header {
  height: 64px;
  width: 100vw;
  background-color: #00B4B2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 320px;
  padding-right: 24px;
}


.left {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 1.5rem;

}

.link {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.iconBtn {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: white;
  color: #0d1622;
  border: none;
  cursor: pointer;
}

.iconBtn:hover{
  background-color: #e9ebec;
}

.userBtn {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 5rem;
  background-color: #f4f6f8;
  border: none;
  cursor: pointer;
}

.userBtn:hover{
  background-color: #e9ebec;
}